html{
  font-size: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  /* The main colors */
  --background-color: #f2f2e0;
  --primary-color: #ff5e3a;
  --tertiary-color-light: #2c365d;
  --tertiary-color-dark: #272e4f;
}
a{
  text-decoration: none;
  color: var(--tertiary-color-dark);
}
a:focus{
  outline: none;
}
a:hover{
  text-decoration: none!important;
}
.fixed{
  position: fixed;
}
.active {
  background-color: #717171;
}
.no-borders{
  border: none;
}
.transparent{
  background: transparent;
}
body{
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--tertiary-color-dark);
  font-size: 1.11111vw!important;
  font-family: 'Montserrat', 'Work sans', sans-serif!important;
  min-height: 100%;
  max-width: 100%;
  vertical-align: baseline;
  outline: 0;
  white-space: nowrap;
}
.co-main-wrapper{
  width: 100%;
  position: relative;
  z-index: 1000;
  -webkit-transition: left .33s cubic-bezier(.694,.0482,.335,1);
  -moz-transition: left .33s cubic-bezier(.694,.0482,.335,1);
  -o-transition: left .33s cubic-bezier(.694,.0482,.335,1);
  -ms-transition: left .33s cubic-bezier(.694,.0482,.335,1);
  transition: left .33s cubic-bezier(.694,.0482,.335,1);
  left: 0;
}
header{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
}
.header{
  top: 0;
  left: 0;
  margin: 0;
  height: 65px;
}
.main-header{
  width: 100%;
  z-index: 100;
}
.main-header .co-navbar{
  height: 80px;
}
.header > div > div{
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 6.4vw;
  width: 100%;
  z-index: 1001;
  transition: all .3s ease 0s!important
}

/*Styling the navigation*/
.header > div > div .co-nav{
  font-family: inherit;
}
.header>div>div .co-nav ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header>div>div .co-nav ul a {
  position: relative;
  color: #fff;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
}

div.content{
  margin-top: 0;
}

div.content .co-slider{
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

div.co-booking{
  width: 70px;
  position: fixed;
  background: #fff;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
}
div.co-booking > div.co-cta{
  transform: rotateY(40deg);
}
div.co-booking > div.co-cta > a{
  padding: 10px 30px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  text-transform: capitalize;
  font-weight: 600;
}
@media (min-width: 768px){
  .header>div>div {
    padding: 0 8.33333vw;
  }
}