html{
  font-size: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  /* The main colors */
  --background-color: #f2f2e0;
  --primary-color: #ff5e3a;
  --tertiary-color-light: #2c365d;
  --tertiary-color-dark: #272e4f;
}
a{
  text-decoration: none;
  color: var(--tertiary-color-dark);
}
a:focus{
  outline: none;
}
a:hover{
  text-decoration: none!important;
}
.fixed{
  position: fixed;
}
.active {
  background-color: #717171;
}
.no-borders{
  border: none;
}
.transparent{
  background: transparent;
}
body{
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--tertiary-color-dark);
  font-size: 1.11111vw!important;
  font-family: 'Montserrat', 'Work sans', sans-serif!important;
  min-height: 100%;
  max-width: 100%;
  vertical-align: baseline;
  outline: 0;
  white-space: nowrap;
  overflow: hidden;
}
.co-main-wrapper{
  width: 100%;
  position: relative;
  z-index: 1000;
  -webkit-transition: left .33s cubic-bezier(.694,.0482,.335,1);
  -moz-transition: left .33s cubic-bezier(.694,.0482,.335,1);
  -o-transition: left .33s cubic-bezier(.694,.0482,.335,1);
  -ms-transition: left .33s cubic-bezier(.694,.0482,.335,1);
  transition: left .33s cubic-bezier(.694,.0482,.335,1);
  left: 0;
}
header{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
}
.header{
  top: 0;
  left: 0;
  margin: 0;
  height: 65px;
}
.main-header{
  width: 100%;
  z-index: 100;
}
.main-header .co-navbar{
  height: 80px;
}
.header > div > div{
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 6.4vw;
  width: 100%;
  z-index: 1001;
  transition: all .3s ease 0s!important
}

/*Humberger menu*/
.menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 9999;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 2px solid var(--primary-color);
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 7px;
}
.menu-bottom {
  top: 14px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
  background-color: var(--background-color)!important;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
  background-color: var(--background-color)!important;
}

.co-menu-drower{
  width: 30%;
  height: 100vh;
  display: block;
  background: var(--tertiary-color-dark);
  padding: 20px;
  position: absolute;
  right: -397px;
  transition: right cubic-bezier(0.59, 0.04, 0.57, 0.99) .5s;
  z-index: ;
}
.drawer-container{
  margin-top: 7em;
}
.co-title{
  color: var(--background-color);
}
.co-title .title{
  color: inherit;
  font-size:  18px;
  font-weight: bolder;
  text-align: center;
}
.co-nav{
  display: block;
  margin-top: 45px;
  color: var(--background-color);
}
.co-nav ul{
  list-style: none;
}
.co-nav ul li{
  width: 100%;
  padding: 10px;
}
.co-nav ul li a{
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: inherit;
}
.open{
  right: 0;
}