*{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
a{
  text-decoration: none;
  color: var(--tertiary-color-dark);
}
a:focus{
  outline: none;
}
:root{
  /* The main colors */
  --background-color: #f2f2e0;
  --primary-color: #ff5e3a;
  --tertiary-color-light: #2c365d;
  --tertiary-color-dark: #272e4f;
}
.active {
  background-color: #717171;
}
body{
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--tertiary-color-dark);
  font-size: 1.11111vw;
  font-family: 'Montserrat', 'Work sans', sans-serif;
  min-height: 100%;
  max-width: 100%;
}
canvas{
  position: absolute;
  background: var(--background-color);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.co-center{
  padding: 0 12vw;
}
.co-wrapper{
  float: none;
  position: relative;
  max-width: 100%;
.co-services .service:nth-child(even){
  background: #fff;
}
}
.center-wrapper{
  padding: 0 7vw;
}
.co-address{
  display: flex;
  position: fixed;
  height: 80vh;
  align-items: center;
  margin: 0;
  left: 18px;
  z-index: 1;
}
.co-address .wrapper .address{
  font-family: 'Montserrat', 'work sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
}
.co-address .wrapper .link{
  position: absolute;
  bottom: 0;
}
.co-address .wrapper .address p{
  background: none;
  margin-top: 125px;
  transform-origin: 0 0;
  transform: translateY(0) rotate(-90deg);
  will-change: transform;
}
.co-address .wrapper .link ul{
  list-style: none;
  color: var(--tertiary-color-dark);
  position: absolute;
  left: 7px;
  top: -41px;
}
.co-address .wrapper .link ul li{
  margin-bottom: 10px;
}
.co-address .wrapper .link ul li a:hover{
  color: var(--primary-color)
}
.co-wrapper .banner{
  /* background: var(--background-color); */
}
header .co-menu{
    display: flex;
    background: transparent;
    position: relative;
    left: 0;
    padding: 0 7vw;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
header .co-menu .co-mobile-menu{
  width: 30px;
  height: 30px;
  padding: 10px;
  display: none;
  position: absolute;
  justify-content: center;
  /* background: var(--primary-color); */
}
header .co-menu .co-mobile-menu span.bar{
  width: 31px;
  height: 1px;
  position: absolute;
  margin-top: 15px;
  background-color: var(--tertiary-color-light);
}
header .co-menu .co-mobile-menu span.bar:first-child{
  top: 0%;
}
header .co-menu .co-mobile-menu span.bar:nth-child(2){
  top: 20%;
}
header .co-menu .co-mobile-menu span.bar:last-child{
  top: 40%;
}
header .co-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
header .co-menu ul a{
  color: inherit;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  padding: 10px 20px;
  text-align: center;
  transition: 0.2s all;
}
header .co-menu ul a::before{
  content: '';
  width: 90px;
  position: absolute;
  border-bottom: 2px solid var(--primary-color);
  bottom: 0;
  right: 350px;
  transition: 0.7s all;
}
header .co-menu ul a:hover{
  color: var(--primary-color)
}
header .co-menu ul a:active{
  border-bottom: 2px solid var(--primary-color);
}
header .co-menu ul a:hover::before{
  right: 0;
}
header .co-menu ul a.special{
  background: var(--primary-color);
  color: var(--background-color);
  align-items: center;
}
.co-hero{
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.co-banner-slider{
  height: 69vh;
  padding: 0 7vw;
  margin: auto;
}
.co-banner-slider .slider{
  width: 100%;
  display: none;
}
.co-banner-slider .slider .slider-content{
  display: flex;
  align-items: center;
}
.co-banner-slider .slider .slider-content .slider-header h1{
  font-size: 70px;
  text-transform: capitalize;
}
.co-banner-slider .slider .slider-content .slider-info{
  padding: 0 20px;
  font-size: 17px;
}
.lines .line{
  cursor: pointer;
  height: 4px;
  width: 60px;
  margin: 0 2px;
  background-color: var(--tertiary-color-light);
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .lines .line:hover{
  background-color: var(--primary-color)!important;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.co-banner-slider .slider-info a.co-btn{
  background: var(--background-color);
  color: var(--tertiary-color-dark);
  border: 2px solid var(--primary-color);
  padding: 10px 30px;
  text-transform: capitalize;
  margin-top: 20px;
  position: relative;
  top: 20px;
}
.scrolls{
  display: flex;
  width: 10%;
  justify-content: space-between;
  position: absolute;
  right: 82px;
  top: 50%;
}
.scrolls .scroll{
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid var(--tertiary-color-dark);
  z-index: 1000;
}
.draw{
  transition: color 0.25s;
}
.draw::before, .draw::after{
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before{
  top: 0;
  left: 0;
}
.draw::after{
  bottom: 0;
  right: 0;
}
.draw:hover::before,.draw:hover::after{
  width: 100%;
  height: 100%;
}
.draw:hover::before{
  border-bottom-color: var(--tertiary-color-dark);
  border-left-color: var(--tertiary-color-dark);
  transition: width 0.25s ease-out, height 0.23s ease-out 0.25s;
}
.draw:hover::after{
  border-bottom-color: var(--tertiary-color-dark);
  border-left-color: var(--tertiary-color-dark);
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out, height 0.23s ease-out 0.25s;
}
/* .co-banner-slider .slider .slider-img img{
  width: 100%;
} */
        </div>

/* Services */
.co-services{
  height: auto;
  padding: 0;
  margin: 0;
}
.co-services .services{
  display: flex;
  color: var(--tertiary-color-light);
  align-content: center;
  justify-content: center;
}
.co-services .service{
  width: 20%;
  background: var(--background-color);
  padding: 20px 10px;
  text-align: center;
}
.co-services .service p{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.co-services .service a{
  font-size: 12px;
  color: var(--tertiary-color-light);
}
.cont{
  margin-top: 2.66667rem;
}
.co-sub-title{
  color: var(--primary-color);
}

/* Animations */

@-webkit-keyframe fade{
  from{
    opacity: -4;
  }
  to{
    opacity:1
  }
}
keyframe fade{
  from{
    opacity: -4;
  }
  to{
    opacity:1
  }
}
